<div class="hero min-h-screen">
  <div class="hero-overlay bg-opacity-70"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Aplicación de países</h1>
      <p class="mb-5">
        Explora el mundo al alcance de tu mano. Descubre información detallada
        sobre países, capitales y regiones, todo en un solo lugar.
      </p>
      <button routerLink="/country" class="btn btn-primary">Empezar</button>
    </div>
  </div>
</div>
